* {
    padding: 0;
    margin: 0;
}

:root {
    --BGColor: rgba(224, 190, 28, 0.17);
}

.body {

    height: 100vh;
    background: rgba(32, 115, 28, 0.85);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

}

.NavBar {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
}

.Footer {
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
}

.FunctionBar {
    grid-column: 3 / span 8;
    grid-row: 2 / span 1;
}

.LeftPanel {
    grid-column: 1 / span 2;
    grid-row: 2 / span 10;
}

.RightPanel {
    grid-column: 11 / span 2;
    grid-row: 2 / span 10;
}

.Content {
    grid-column: 3 / span 8;
    grid-row: 3 / span 9;
    text-align: center;
    font-size: 2em;
}

/* calling class "el" to pass BGcolor and Box-shadow to all the children of the class "body" */
.el {
    box-shadow: 4px 8px 200px rgba(241, 131, 5, 0.35);
    background: var(--BGColor);
    font-family:'Source Code Source', monospace;
}

/*button style*/
.colorBtn{
    font-size:0.5em;
}

/*Styling the Page Nav*/
.navSection{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navUL{
    display: flex;
    list-style: none;
}

.navLI{
    margin-right: 15px;
    text-decoration: none;
  }

    .navLI a{
        text-decoration: none;
        color: black;
        font-size: 1.2em;
     }

.navLI a:hover{
color:mediumturquoise;
    transition: color 300ms;
}


}
In between the div class NavBar
<nav class="navSection">
            <div class="NavLogo">
                <h1 class="Logo">LOGO</h1>
            </div>
            <ul class="navUL">
                <li class="navLI">Home</li>
                <li class="navLI">Contact</li>
                <li class="navLI">CV</li>
                <div class="navAction">
                    <button class="ActionNavButton">Join Newsletter</button>
                </div>
            </ul>
        </nav>